<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <title>Mon Projet</title>
</head>
<body>
  <header class="Presentation">
    <p>Bienvenue sur l'enigme de musiques de MIAC301T - Client Web !</p>
    <nav class="navbar">
      <ul class="navbar">
        <li><a href="index.html">Accueil</a></li>
        <li><a href="pages/Champions.html">Champions</a></li>
        <li><a href="pages/ProposerParoles.html">Proposer des Paroles</a></li>
        <li><a href="pages/Contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
  <section id="Bienvenue" class="box">
    <article class="Bienvenue">
      <p>Cette application Web contient une série de paroles de chansons connus, le but du jeu c'est de trouver l'auteur de chaque extrait de chanson parmi une liste donnée! Bonne chance dans votre partie et n'oubliez pas que vous avez juste 5 tours !</p>
      <a href="pages\Jeu.html" class="button">Jouer !</a>
    </article>
  </section>
  <footer>
    <a class="contact" href="pages\Contact.html">Contact</a>
    <p class="refs">Site Web Conçu Par José Gregorio PEREZ OJEDA</p> 
  </footer>
</body>
</html>